
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
div{
    /* height: 200px; */
    width: 25%;
    float: left;
    align-items: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* padding: 20px; */
   
}
img{
    width: 74%;
    height: 100px;
    
}
button{
    margin-left: 50%;
    background-color:lightblue;
    border-radius: 10px;
}
p{
    padding: ;
}